@import '../../../App.scss';
@import '../../../index.scss';

.footer{
    padding: 0px 10px;
    margin-top: -40px;
    background-color: $flat-button-bg;
    color: $bg-black;
    z-index:-1;

    .footer-overlay{
        padding: 20px 30px 20px;
        padding-left: 100px;
        width: calc(100% - 120px);
        height: calc(100% - 60px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        // margin-top: -100px;
    }

    .footer-wrapper{
        flex:1;
        // transform: translateY(-100px);
        transition: all 0.2s ease-in-out;
        transition-delay: 0s;
        
        .logo-wrapper{
            position: relative;
            display: flex;
            align-items: flex-end;
            // padding-bottom: 3vh;

            h4{
                display: flex;
                align-items: flex-end;
                padding-bottom: 5vh;

                &.credit-intro{
                    font-family: 'Futura';
                    padding-right: 10px;
                }
            }

            .logo-container {
                display: flex;
                justify-content: flex-end;
                height: 30px;
                width: 30px;

                svg{
                    position: relative;
                    // width: 20%;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-tablet){
    .footer .footer-overlay{
        padding-left:0;
        padding-top:10px;
        width: 100%;
        padding-bottom: 4vh;
    }
    .footer .footer-wrapper .logo-wrapper h4{
        padding-bottom:0;
    }
}


// .main-container{
//     padding-right: 500px;
//     box-sizing: border-box;
// }

// .content{
//     display: flex;
//     justify-content: center;
//     height: 100vh;
//     align-items: center;
//     position: relative;
// }

// .gallery{
//     display: grid;
//     grid-template-columns: repeat(50, 2%);
//     grid-template-rows: repeat(50, 2%);
//     width: 190vw; 
//     height: 100%;
//     padding-left: 12vw;
//     position: relative;
//     align-items: center;
//     background-color: #121212;

// }

// .gallery-helper{
//     grid-area: 43/1 / span 2 / span 1;
//     font-size: $medium-font;
// }
// .behind-text{
//     position: absolute;
//     top: 50%;
//     left: 10%;
//     transform: translate(-50%, -50%);
//     text-transform: uppercase;
//     font-size: $h-one-font;
//     font-weight: 500;
//     letter-spacing: 50px;

//     &.fill{
//         color: $white-text;

//     }
//     &.outline{
//         z-index: 2;
//         mix-blend-mode:overlay;
//         color: transparent;
//         -webkit-text-stroke-width: 1px;
//         -webkit-text-stroke-color: $light-text;
//     }
// }

