@import '../../../App.scss';
@import '../../../index.scss';
// $transp-white: rgba(255, 255, 255, 0.1);

.marquee-wrapper{
    position: relative;

    .marquee-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // min-height:100vh;

        .wrap{
            flex:1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 110vh;
            

            .marquee{
              display: flex;
              align-items: flex-end;
              min-width: 170%;
              text-align: center;
              white-space: nowrap;
              margin: 15px;
                
                  background-color: $flat-button-bg;
                  box-shadow: -5px -5px 20px $bg_white,  5px 5px 20px $flat-button-shadow;
                  border: 1px solid #ccc;
                  opacity: 0.9;
                  backdrop-filter: blur(7px);
                 border-radius: 10px;
                    h3{
                      padding: 10px;
                      display: block;
                      line-height: 0;
                    }
                    
                  
                  &:nth-child(1), &:nth-child(5){
                    transform: rotate(0deg) translateX(var(--a));
                    transition: all 1s ease-in-out;
                    transition-delay: 0s;
                    
                }

                  &:nth-child(2n){
                      transform: rotate(5deg) translateX(calc(var(--a) * -1));
                      transition: all 1s ease-in-out;
                      transition-delay: 0s;
                      
                  }
                  &:nth-child(3) {
                      transform: rotate(-3deg) translateX(var(--a));
                      transition: all 1s ease-in-out;
                    transition-delay: 0s;
                  }
            }
        }
    }
}

@for $i from 1 through 15 {
  .marquee.level:nth-child(#{$i}) {
    padding-left: #{50% + ($i * 5)};
  }
  .marquee._1{
    padding-left: #{50% + 5};
  }
  .marquee._3{
    padding-left: #{50% + (2 * 5)};
  }
  .marquee._5{
    padding-left: #{50% + (3 * 5)};
  }
  .marquee:nth-child(#{($i * 2)}) {
    padding-left: #{50% + (90 / $i)};
  }

  @media (max-width: $breakpoint-desktop) {
    .marquee.level:nth-child(#{$i}) {
      padding-left: #{50% + ($i * 10)};
    }
    .marquee._1{
      padding-left: #{50% + 10};
    }
    .marquee._1{
      padding-left: #{50% + 20};
    }
    .marquee._5{
      padding-left: #{50% + (3 * 10)};
    }
    .marquee:nth-child(#{($i * 2)}) {
      padding-left: #{50% + (100 / (1 + ($i / 10)))};
    }
  }
  @media (max-width: $breakpoint-tablet) {
    .marquee.level:nth-child(#{$i}) {
      padding-left: #{50% + (15 * (1 + ($i / 10)))};
    }
    .marquee._1{
      padding-left: #{50% + (15 * (1 + (1 / 10)))};
    }
    .marquee._3{
      padding-left: #{50% + (15 * (1 + (2 / 10)))};
    }
    .marquee._5{
      padding-left: #{50% + (15 * (1 + (3 / 10)))};
    }
    .marquee:nth-child(#{($i * 2)}) {
      padding-left: #{50% + (140 / (1 + ($i / 10)))};
    } 
  }
}

@media (max-width: $breakpoint-desktop) {
  .marquee{
    min-width: 120%;
  }
  .wrap{
    margin-top: -15vh;
    margin-bottom: -15vh; 
    /* the height must be larger than 100vh 
      to maintain a smooth transition 
      using the observer,
      hence, negative margins remove extra space
    */
  }
}




// styling for marquee tools and stacks
.marquee {
  position: relative;
  a{
    color: $dark-text;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;
    transform: translateY(-70%);
    padding: 5px;
    &:hover{
        color: $hover-icons;
        transition: all 0.3s ease-in-out;
        animation-name: bounceLink;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    svg{
      width:100%;
      height: 100%;
    }
  }
  .mq-stacks{
    font-size: 1.2em;
  }
  .mq-tools{
    padding: 3px;
    margin: 0px 2px 5px;
    background-color: $bg-black;
    border-radius: 10px;
    color: $white-text;
    font-family: 'Futura';
    font-size: 1.2em;
  }
}
.mq-works-img{
  position: absolute;
  top:-50%;
  left: 30%;
  z-index:-10;
  &.show{
    z-index:2;
  }
}





@keyframes bounceLink {
  0% { 
      
   transform: translateY(-70%);  
   }
  25% { 
      transform: translateY(-76%);
   }

  50%, 90% { 
      transform: translateY(-80%);
   }
   60%{
      transform: translateY(-74%);
   }
  100% {
      transform: translateY(-84%);
   }
}

